* {
    box-sizing: border-box;
}
body {
    background-color: pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icecream {
    width:200px;
    height: 350px;
    border-radius: 45% 45% 0 0;
    overflow: hidden;
}
.colors {
    width: 350px;
    height:350px;
    transform: rotate(-30);
    position: relative;
    left: -100px;
    background: rgb(227,0,128);
    background: linear-gradient(-30deg, rgba(227,0,128,1) 0%, rgba(227,0,128,1) 25%, rgba(60,201,182,1) 25%, rgba(22,123,126,1) 50%, rgba(230,225,6,1) 50%, rgba(57,130,33,1) 75%, rgba(40,233,8,1) 75%, rgba(0,212,255,1) 100%);
    border-radius: 45% 45% 0 0;
    background-position-y: 0px;
    animation-name: fountain;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.stick {
    width: 50px;
    height: 120px;
    background-color: brown;
    border-radius: 0 0 30px 30px ;
    

}
@keyframes fountain {
    to {
        background-position-y: 1000px;
    }
}